.selecting-boundary-div {
    padding-top: 0.5rem;
   
    gap:1.5rem;
    .label-field-pair {
        margin-bottom: 1.5rem;
    }

}



.selecting-boundary-div.horizontal-layout {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    align-items: flex-start;
  }


.digit-card-label.boundary-selection-label{
    font-family: theme("digitv2.fontFamily.sans");
    font-style: theme("digitv2.fontStyle.normal");
    font-weight: theme("digitv2.fontWeight.bold");

    @media (max-width: 30rem) {
        /* Media query for mobile */
        font-size: theme("digitv2.fontSize.heading-s.mobile");
    }

    @media (min-width: 30.063rem) and (max-width: 47.938rem) {
        /* Media query for tablets */
        font-size: theme("digitv2.fontSize.heading-s.tablet");
    }

    @media (min-width: 48rem) {
        /* Media query for desktop */
        font-size: theme("digitv2.fontSize.heading-s.desktop");
    }

    color: theme("digitv2.lightTheme.text-primary");
    width:30%;
} 
.selecting-boundary-div.horizontal-layout .boundary-item {
    display: flex;
    justify-content: center;
 }

 .digit-field-full{
    width:100%;
 }

 .digit-label-field-pair.boundary-item.vertical{
    margin-bottom: 0rem;
 } 
 
 .padding-dropdown{
    padding-bottom: 1.6rem;
 }

 .filter-card.filter-card-vertical .selecting-boundary-div {
    max-width: 65%;
  }
  