@import './theme-variables.css';
@import '../typography.scss';

.digit-back-link {
    gap: var(--digitv2-spacers-spacer1);
    display: flex;
    align-items: center;

    .digit-back-link-icon {
        flex-shrink: 0;
        width: var(--digitv2-spacers-spacer6);
        height: var(--digitv2-spacers-spacer6);
        cursor: pointer;

        @media (max-width: 30rem) {
            width: var(--digitv2-spacers-spacer5);
            height: var(--digitv2-spacers-spacer5);
        }

    }

    .digit-back-link-label {
        @include typography-body-l;
        color: var(--digitv2-lightTheme-primary-2);
        margin-top:0.063rem;
        cursor: pointer;
    }

    &.disabled{
        pointer-events: none;
        .digit-back-link-label{
            color: var(--digitv2-lightTheme-text-disabled);
            cursor: default;
        }

        .digit-back-link-icon{
            cursor: default;
        }
    }
}