.digit-back-link {
    gap: theme(digitv2.spacers.spacer1);
    display: flex;
    align-items: center;

    .digit-back-link-icon {
        flex-shrink: 0;
        width: theme(digitv2.spacers.spacer6);
        height: theme(digitv2.spacers.spacer6);
        cursor: pointer;

        @media (max-width: 30rem) {
            width: theme(digitv2.spacers.spacer5);
            height: theme(digitv2.spacers.spacer5);
        }

    }

    .digit-back-link-label {
        @extend .typography.body-l;
        color: theme(digitv2.lightTheme.primary-1);
        margin-top:0.063rem;
        cursor: pointer;
    }

    &.disabled{
        pointer-events: none;
        .digit-back-link-label{
            color: theme(digitv2.lightTheme.text-disabled);
            cursor: default;
        }

        .digit-back-link-icon{
            cursor: default;
        }
    }
}