.digit-bottom-sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: height 0.3s ease;
    background-color: theme("digitv2.lightTheme.paper-primary");
    box-shadow: theme("digitv2.spacers.spacer0") -0.063rem theme("digitv2.spacers.spacer1") -0.063rem #00000026;
    overflow: hidden;
    border-radius: theme("digitv2.spacers.spacer3") theme("digitv2.spacers.spacer3") theme("digitv2.spacers.spacer0") theme("digitv2.spacers.spacer0");
    display: flex;
    flex-direction: column;

    &.full {
        border-radius: theme("digitv2.spacers.spacer0");
    }
}

.digit-bottom-sheet.closed {
    &.actionsEnabled {
        height: fit-content;
    }
}

.digit-bottom-sheet-header {
    display: flex;
    justify-content: center;
    height: theme("digitv2.spacers.spacer10");

    &.actionsEnabled {
        height: theme("digitv2.spacers.spacer6");
    }
}

.digit-bottom-sheet-drag-cursor {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: ns-resize;
}

.digit-bottom-sheet-handle-indicator {
    width: 6.25rem;
    height: 0.375rem;
    border-radius: theme("digitv2.spacers.spacer1");
    background-color: #D9D9D9;
    margin: theme("digitv2.spacers.spacer2") theme("digitv2.spacers.spacer0");
}

.digit-bottom-sheet-header{
    &.full {
        .digit-bottom-sheet-handle-indicator{
            display: none;
        }
    }
}

.digit-bottom-sheet-content {
    padding: theme("digitv2.spacers.spacer4");
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-aspect-ratio: 9/16) {
        gap: theme("digitv2.spacers.spacer4");
    }

    @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
        gap: theme("digitv2.spacers.spacer5");
    }

    @media (min-aspect-ratio: 3/4) {
        gap: theme("digitv2.spacers.spacer6");
    }
}

.digit-bottom-sheet-actions {
    padding: theme("digitv2.spacers.spacer4");
    display: flex;
    gap: theme("digitv2.spacers.spacer6");
    background-color: #FFFFFF;
    box-shadow: theme("digitv2.spacers.spacer0") 0.063rem 0.188rem 0.063rem #00000026;
    box-shadow: theme("digitv2.spacers.spacer0") 0.063rem 0.125rem theme("digitv2.spacers.spacer0") #0000004D;
    justify-content: flex-end;

    &.equalButtons {
        justify-content: flex-start;

        button {
            flex: 1;
        }
    }

    @media (max-aspect-ratio: 9/16) {
        justify-content: flex-start;

        button {
            flex: 1;
        }
    }
}

.digit-bottom-sheet-content::-webkit-scrollbar {
    width: 0.375rem;
    background-color: theme("digitv2.lightTheme.generic-background");
}

.digit-bottom-sheet-content::-webkit-scrollbar-track {
    background-color: theme("digitv2.lightTheme.generic-background");
    border-radius: 0.563rem;
}

.digit-bottom-sheet-content::-webkit-scrollbar-thumb {
    background-color: theme("digitv2.lightTheme.generic-divider");
    border-radius: 0.563rem;
}