@import './theme-variables.css';
@import '../typography.scss';

@import "../typography.scss";

.digit-bread-crumb {
    display: flex;
    gap: var(--digitv2-spacers-spacer2);
    height: 1.375rem;
    padding: unset;
}

.digit-bread-crumb--item {
    display: flex;
    gap: var(--digitv2-spacers-spacer2);


    button {
        outline: none;
    }


    .digit-bread-crumb-content {
        @include typography-body-s;
        font-family: var(--digitv2-fontFamily-sans);
        font-style: var(--digitv2-fontStyle-normal);
        font-weight: var(--digitv2-fontWeight-regular);
        line-height: var(--digitv2-lineHeight-lineheight2);
    
        @media (max-aspect-ratio: 9/16) {
          /* Media query for mobile */
          font-size: var( --digitv2-fontSize-body-s-mobile);
        }
    
        @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
          /* Media query for tablets */
          font-size: var( --digitv2-fontSize-body-s-tablet);
        }
    
        @media (min-aspect-ratio: 3/4) {
          /* Media query for desktop */
          font-size: var( --digitv2-fontSize-body-s-desktop);
        }
        display: flex !important;
        gap: var(--digitv2-spacers-spacer1);
        cursor: pointer;
        text-decoration: none;

        svg {
            width: var(--digitv2-spacers-spacer5);
            height: var(--digitv2-spacers-spacer5);
        }

        color: var(--digitv2-lightTheme-primary-1);

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        cursor: pointer;
    }

    .digit-bread-crumb-content.current,
    .digit-bread-crumb-seperator {
        @include typography-body-s;
        font-family: var(--digitv2-fontFamily-sans);
        font-style: var(--digitv2-fontStyle-normal);
        font-weight: var(--digitv2-fontWeight-regular);
        line-height: var(--digitv2-lineHeight-lineheight2);
    
        @media (max-aspect-ratio: 9/16) {
          /* Media query for mobile */
          font-size: var( --digitv2-fontSize-body-s-mobile);
        }
    
        @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
          /* Media query for tablets */
          font-size: var( --digitv2-fontSize-body-s-tablet);
        }
    
        @media (min-aspect-ratio: 3/4) {
          /* Media query for desktop */
          font-size: var( --digitv2-fontSize-body-s-desktop);
        }
        color: var(--digitv2-lightTheme-text-secondary);
        text-decoration: none;
        cursor: default;
    }

}

ol,
ul {
    list-style: none;
}