@import './theme-variables.css';
@import '../typography.scss';

.digit-card-label {
  font-weight: var(--digitv2-fontWeight-regular);
  font-size: 16px;
  line-height: 19px;
  color: var(--digitv2-lightTheme-text-primary);
}