@import './theme-variables.css';
@import '../typography.scss';

.digit-divider {
    border: var(--digitv2-divider-dividerS);
    width: 100%;
    margin: var(--digitv2-spacers-spacer0);

    &.medium {
        border: var(--digitv2-divider-dividerM);
    }

    &.large {
        border: var(--digitv2-divider-dividerL);
    }
}