@import './theme-variables.css';
@import '../typography.scss';

.digit-divider {
    border: theme("digitv2.divider.dividerS");
    width: 100%;
    margin: theme("digitv2.spacers.spacer0");

    &.medium {
        border: theme("digitv2.divider.dividerM");
    }

    &.large {
        border: theme("digitv2.divider.dividerL");
    }
}