@import url("../index.scss");
@import url("../typography.scss");

.digit-error-icon-message-wrap {
  @apply flex w-full whitespace-pre-wrap break-words;
  gap: theme(digitv2.spacers.spacer1);

  .digit-error-icon{
      @apply flex items-center;
      width: theme(digitv2.spacers.spacer4);
      height: theme(digitv2.lineHeight.lineheight2);
  }
  .digit-error-message {
      @extend .typography.body-s;
      @apply  w-full;
      margin: theme(digitv2.spacers.spacer0);
      color: theme(digitv2.lightTheme.alert-error)
  }
}