 .digit-label-field-pair {
   @apply mb-lg flex;


   @media (min-aspect-ratio: 9/16) {
    @apply items-start;
   }

   @media (max-aspect-ratio: 9/16) {
    @apply flex-col items-start;
   }

   &.vertical{
    @apply flex-col items-start;
   }

   & .label,
   & header {
     margin-right: theme(digitv2.spacers.spacer6);
     width: 33%;

     @media (max-aspect-ratio: 9/16) {
      @apply w-full;
    }
   }

   & .digit-field {
     width: 60%;

     @media (max-aspect-ratio: 9/16) {
      width: 100%;
    }
   }
 }

@screen dt {
   .digit-employee-card {
     .digit-label-field-pair {
       @apply mb-lg flex ;

       h2 {
         width: 30%;
       }

       .digit-field {

         .field {
           margin-right: unset;
         }

         .digit-field {
           @apply mb-lg;
           margin-right: unset;
         }
       }
     }
   }
 }