@import './theme-variables.css';
@import '../typography.scss';

.digit-panelcard-wrap {
    @apply w-full flex-col;
    display: flex;
    height: fit-content;
    border-radius: var(--digitv2-spacers-spacer1);
    box-shadow: var(--digitv2-spacers-spacer0) 0.063rem 0.125rem var(--digitv2-spacers-spacer0) #00000029;
    background: var(--digitv2-lightTheme-paper-primary);

    .digit-panelcard-header{

        &.with-shadow {
            box-shadow: var(--digitv2-spacers-spacer0) 0.063rem 0.125rem var(--digitv2-spacers-spacer0) #00000026;
          }
      
          @media (min-width: 48rem) {
            padding: var(--digitv2-spacers-spacer6);
            padding-bottom: var(--digitv2-spacers-spacer0);
      
            &.with-shadow {
              padding-bottom: var(--digitv2-spacers-spacer6);
            }
          }
      
          @media (min-width: 30.063rem) and (max-width: 47.938rem) {
            padding: var(--digitv2-spacers-spacer5);
            padding-bottom: var(--digitv2-spacers-spacer0);
      
            &.with-shadow {
              padding-bottom: var(--digitv2-spacers-spacer5);
            }
          }
      
          @media (max-width: 30rem) {
            padding: var(--digitv2-spacers-spacer4);
            padding-bottom: var(--digitv2-spacers-spacer0);
      
            &.with-shadow {
              padding-bottom: var(--digitv2-spacers-spacer4);
            }
          }
    }

    .digit-panelcard-children-wrap {
        @apply flex-col overflow-hidden overflow-y-auto ;

        display: flex;
        flex: 1;

        &.inline {
            flex-direction: row;
        }

        @media (min-width: 48rem) {
            gap: var(--digitv2-spacers-spacer6);
            padding: var(--digitv2-spacers-spacer6) var(--digitv2-spacers-spacer6) var(--digitv2-spacers-spacer0) var(--digitv2-spacers-spacer6);
      
            &.with-shadow,
            &.without-footer{
              padding: var(--digitv2-spacers-spacer6);
            }
      
          }
      
          @media (min-width: 30.063rem) and (max-width: 47.938rem) {
            gap: var(--digitv2-spacers-spacer5);
            padding: var(--digitv2-spacers-spacer5) var(--digitv2-spacers-spacer5) var(--digitv2-spacers-spacer0) var(--digitv2-spacers-spacer5);
          
            &.with-shadow,
            &.without-footer{
              padding: var(--digitv2-spacers-spacer5);
            }
          
          }
      
          @media (max-width: 30rem) {
            gap: var(--digitv2-spacers-spacer4);
            padding: var(--digitv2-spacers-spacer4) var(--digitv2-spacers-spacer4) var(--digitv2-spacers-spacer0) var(--digitv2-spacers-spacer4);
          
            &.with-shadow,
            &.without-footer{
              padding: var(--digitv2-spacers-spacer4);
            }
          }

        .digit-panelcard-description {
            @include typography-body-s;
            font-family: var(--digitv2-fontFamily-sans);
            font-style: var(--digitv2-fontStyle-normal);
            font-weight: var(--digitv2-fontWeight-regular);
            line-height: var(--digitv2-lineHeight-lineheight2);
        
            @media (max-aspect-ratio: 9/16) {
              /* Media query for mobile */
              font-size: var( --digitv2-fontSize-body-s-mobile);
            }
        
            @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
              /* Media query for tablets */
              font-size: var( --digitv2-fontSize-body-s-tablet);
            }
        
            @media (min-aspect-ratio: 3/4) {
              /* Media query for desktop */
              font-size: var( --digitv2-fontSize-body-s-desktop);
            }
            color: var(--digitv2-lightTheme-generic-inputborder);
        }

    }

    .digit-panelcard-footer {
        @apply flex-wrap;
        display: flex;
        gap: var(--digitv2-spacers-spacer4);
    
        &.with-shadow {
          box-shadow: var(--digitv2-spacers-spacer0) -0.063rem 0.125rem var(--digitv2-spacers-spacer0) #00000026;
        }
    
        @media (min-width: 48rem) {
          padding: var(--digitv2-spacers-spacer6);
        }
    
        @media (min-width: 30.063rem) and (max-width: 47.938rem) {
          @apply w-full;
          padding: var(--digitv2-spacers-spacer5);
        }
    
        @media (max-width: 30rem) {
          @apply flex-col;
          padding: var(--digitv2-spacers-spacer4);
        }
      }
    
      .digit-panelcard-footer-buttons {
        margin-left: auto;
        display: flex;
        gap: var(--digitv2-spacers-spacer4);
        @apply max-w-full flex-wrap;
    
        @media (min-width: 30.063rem) and (max-width: 47.938rem) {
          @apply w-full;
    
          button {
            flex: 1;
          }
        }
    
        @media (max-width: 30rem) {
          @apply flex-col;
          margin: var(--digitv2-spacers-spacer0);
    
          button {
            width: 100%;
          }
        }
      }

    .panelcard-infocard{
        margin: var(--digitv2-spacers-spacer0);
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

.digit-panelcard-children-wrap::-webkit-scrollbar {
    width: var(--digitv2-spacers-spacer2);
    background-color: var(--digitv2-lightTheme-generic-background);
  }
  
  .digit-panelcard-children-wrap::-webkit-scrollbar-track {
    background-color: var(--digitv2-lightTheme-generic-background);
    border-radius: 0.563rem;
  }
  
  .digit-panelcard-children-wrap::-webkit-scrollbar-thumb {
    background-color: var(--digitv2-lightTheme-generic-divider);
    border-radius: 0.563rem;
  }