.selection-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:theme(digitv2.spacers.spacer1);
  }
  
  .selection-card {
    display: flex;
    flex-wrap: wrap;
    gap: theme(digitv2.spacers.spacer6);
    padding: theme(digitv2.spacers.spacer6);
    border: 0.063rem solid #d6d5d4; 
    border-radius: theme(digitv2.spacers.spacer1);
    background-color: theme(digitv2.lightTheme.paper-secondary); 
    width: fit-content;

    @media (max-width: 30rem) {
      justify-content: center;
    }

  }
  
  .selection-card.error {
    border-color: theme(digitv2.lightTheme.alert-error); 
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: theme(digitv2.spacers.spacer2) theme(digitv2.spacers.spacer4);
    border: 0.063rem solid #d6d5d4; 
    border-radius: theme(digitv2.spacers.spacer1);
    background-color: theme(digitv2.lightTheme.paper-primary); 
    cursor: pointer;
    height: theme(digitv2.spacers.spacer10);
    gap:theme(digitv2.spacers.spacer2);
    color: theme(digitv2.lightTheme.text-primary);
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.regular);
    line-height: theme(digitv2.lineHeight.lineheight2);

    @media (max-aspect-ratio: 9/16) {
      /* Media query for mobile */
      font-size: theme(digitv2.fontSize.body-l.mobile);
    }

    @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
      /* Media query for tablets */
      font-size: theme(digitv2.fontSize.body-l.tablet);
    }

    @media (min-aspect-ratio: 3/4) {
      /* Media query for desktop */
      font-size: theme(digitv2.fontSize.body-l.desktop);
    }
  }
  
  .option.selected {
    background-color: theme(digitv2.lightTheme.primary-1); 
    color: theme(digitv2.lightTheme.paper-primary);
    font-weight: theme(digitv2.fontWeight.bold);
  }

  .option .selectioncard-option-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .option .selectioncardicon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }