.digit-dropdown-employee-select-wrap {
  @apply w-full relative;

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    max-width: 27.5rem;
  }

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    max-width: 20.5rem;
    width: 100%;
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    max-width: 37.5rem;
  }

  .digit-dropdown-select {
    @extend .light-input-border;
    @apply relative block w-full h-10 bg-white;
    border: 0.063rem solid theme(digitv2.lightTheme.text-secondary);

    &.digit-field-error {
      border: 0.063rem solid;
      border-color: theme(digitv2.lightTheme.alert-error);
    }

    &.disabled {
      pointer-events: none !important;
      border: 0.063rem solid theme(digitv2.lightTheme.generic-divider) !important;
      color: theme(digitv2.lightTheme.generic-divider) !important;
    }


    input[type="text"] {
      @extend .typography.body-l;
      @apply absolute z-10 h-full outline-none;
      width:calc(100%-1.75rem);
      background-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      color: theme(digitv2.lightTheme.text-primary);
    }

    p {
      @extend .light-text-color-primary;
      padding-top: 0.563rem;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm mb-sm;
    }
  }

  .digit-dropdown-select-active {
    @apply relative block w-full h-10;
    border: 0.063rem solid theme(digitv2.lightTheme.primary-1);


    input[type="text"] {
      @extend .typography.body-l;
      @apply absolute z-10 h-full outline-none;
      width:calc(100%-1.75rem);
      background-color: transparent;
      font-size: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      color: theme(digitv2.lightTheme.text-primary);
    }

    p {
      @extend .light-text-color-primary;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    p {
      padding-top: 0.563rem;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm mb-sm;
    }
  }

  .digit-dropdown-options-card {
    width: 100% !important;
    box-shadow: 0rem 0.063rem 0.275rem 0rem #00000026;
    max-height: 70vmax;
    @apply absolute z-20 bg-white max-w-full overflow-y-auto overflow-x-hidden;

    p {
      @extend .light-text-color-primary;
      padding-top: 0.875rem;
      @apply w-full h-12 pl-sm text-text-primary text-form-field;

      &:hover {
        @extend .light-background;
        @apply bg-grey-mid;
      }
    }
  }

  .digit-dropdown-select,
  .digit-dropdown-select-active {

    &.treedropdown,
    &.notSearchable {
      @apply cursor-pointer;
    }
  }
}

.digit-dropdown-options-card::-webkit-scrollbar {
  width: 0.5rem;
  background-color: theme(digitv2.lightTheme.generic-background);
}

.digit-dropdown-options-card::-webkit-scrollbar-track {
  background-color: theme(digitv2.lightTheme.generic-background);
  border-radius: 0.563rem;
}

.digit-dropdown-options-card::-webkit-scrollbar-thumb {
  background-color: theme(digitv2.lightTheme.generic-divider);
  border-radius: 0.563rem;
}


.digit-nested-category {
  @apply flex items-center flex-shrink-0;
  background: theme(digitv2.lightTheme.paper-secondary);
  height: 2.4375rem;
  padding: 1rem 0.625rem;
  gap: 0.625rem;
}

.digit-nested-category:not(:first-child) {
  margin-top: 1rem;
}

.digit-category-name {
  @extend .typography.heading-s;
  @apply flex items-center overflow-hidden whitespace-no-wrap;
  color: theme(digitv2.lightTheme.text-secondary);
  gap: 0.25rem;
}

.digit-dropdown-item {

  @apply flex flex-row;
  padding: 0.625rem;
  gap: 0.625rem;
  min-height: 2.438rem;
  color: theme(digitv2.lightTheme.text-primary) !important;

  .profile-icon-container {
    flex-shrink: 0;
    border-radius: 4.5rem;
    background-size: cover;
    background-position: center;
  }

  .option-des-container {
    @apply flex-col justify-center w-full max-w-full overflow-hidden box-border;
    display: flex !important;
    align-items: center;
    min-height: 1.125rem;


    .main-option {
      @extend .typography.body-s;
      @apply whitespace-no-wrap w-full max-w-full overflow-hidden;
      text-overflow: ellipsis;


      &.nestedtextdropdown,
      &.profilenestedtext {
        @extend .typography.body-l;
        color: theme(digitv2.lightTheme.text-secondary);
      }
    }


    .option-description {
      @extend .typography.body-xs;
      color: theme(digitv2.lightTheme.text-secondary);
    }
  }

  &:not(.nesteddropdown, .treedropdown):not(:active):nth-of-type(even) {
    background: theme(digitv2.lightTheme.paper-secondary);
  }


  &.nesteddropdown {
    position: relative;
    height: 2.4375rem;


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0.625rem;
      right: 0.635rem;
      border-bottom: 0.063rem solid theme(digitv2.lightTheme.generic-divider);
    }

    &:hover,
    &:active {
      &::before {
        border-bottom: none;
      }
    }
  }

  &:hover {
    background: theme(digitv2.lightTheme.primary-bg) !important;
    border: 0.031rem solid theme(digitv2.lightTheme.primary-1);
  }

  &:active {
    background: theme(digitv2.lightTheme.primary-1) !important;


    span,
    .option-description {
      color: theme(digitv2.lightTheme.paper-primary);
    }

    .svg {
      width: 6.25rem;
    }

    .option-des-container {
      .main-option {
        @extend .typography.heading-s;
      }
    }
  }

  &.nestedtextdropdown {
    min-height: 4.75rem;
    padding: 0.5rem 0.635rem 0.5rem 0.635rem;
    color: theme(digitv2.lightTheme.text-secondary) !important;

    &:hover {
      border: 0.063rem solid theme(digitv2.lightTheme.primary-1);
    }

    .option-des-container {
      padding-right: 0.125rem !important;
    }

    &:active {
      .option-des-container {
        .main-option {
          @extend .typography.heading-s;
          color: theme(digitv2.lightTheme.paper-primary);
        }
      }
    }
  }

  &.profiledropdown {
    min-height: 3rem;
    padding: 0.5rem 0.625rem;
  }

  &.profilenestedtext {
    min-height: 4.75rem;
    padding: 0.5rem 1rem;
    gap: 1rem;
    align-items: center;
    color: theme(digitv2.lightTheme.text-secondary) !important;

    &:active {
      .option-des-container {
        .main-option {
          @extend .typography.heading-s;
          color: theme(digitv2.lightTheme.paper-primary);
        }
      }
    }
  }

  &.unsuccessfulresults {
    background-color: theme(digitv2.lightTheme.paper-secondary);
    pointer-events: none;

    span {
      @extend .typography.body-s;
      color: theme(digitv2.lightTheme.text-disabled);
    }
  }
}

.digit-dropdown-employee-select-wrap--elipses {
  @apply overflow-hidden whitespace-no-wrap;
  width:calc(100%-1.75rem);
  text-overflow: ellipsis;

  &.treedropdown,
  &.notSearchable {
    @apply pointer-events-none;
  }
}

.digit-dropdown-select-wrap {
  @apply mb-lg relative bg-white;

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    max-width: 27.5rem;
  }

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    max-width: 20.5rem;
    width: 100%;
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    max-width: 37.5rem;
  }

  .digit-dropdown-select {
    @extend .light-input-border;
    @apply relative block w-full h-10 bg-white;
    border: 0.063rem solid theme(digitv2.lightTheme.text-secondary);

    input[type="text"] {
      @extend .typography.body-l;
      @apply absolute z-10  h-full outline-none;
      width:calc(100%-1.75rem);
      background-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      color: theme(digitv2.lightTheme.text-primary);
    }


    &.disabled {
      pointer-events: none !important;
      border: 0.063rem solid theme(digitv2.lightTheme.generic-divider) !important;
      color: theme(digitv2.lightTheme.generic-divider) !important;
    }

    p {
      @extend .light-text-color-primary;
      padding-top: 0.563rem;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm mb-sm;
    }
  }

  .digit-dropdown-select-active {
    @apply relative block w-full h-10;
    border: 0.063rem solid theme(digitv2.lightTheme.primary-1);

    input[type="text"] {
      @extend .typography.body-l;
      @apply absolute z-10  h-full outline-none;
      width:calc(100%-1.75rem);
      background-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      color: theme(digitv2.lightTheme.text-primary);
    }

    p {
      @extend .light-text-color-primary;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    p {
      padding-top: 0.563rem;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply absolute right-0 float-right h-6 w-6 mt-sm mr-sm mb-sm;
    }
  }

  .digit-dropdown-select,
  .digit-dropdown-select-active {

    &.treedropdown,
    &.notSearchable {
      @apply cursor-pointer;
    }
  }

  .digit-dropdown-options-card {
    width: 100% !important;
    box-shadow: 0rem 0.063rem 0.275rem 0rem #00000026;
    @apply absolute z-20 bg-white overflow-y-auto overflow-x-hidden;
    max-height: 70vmax;

    p {
      @extend .light-text-color-primary;
      padding-top: 0.875rem;
      @apply w-full h-12 pl-sm text-text-primary text-form-field;

      &:hover {
        @apply bg-grey-mid;
      }
    }
  }
}