.digit-stepper-container {
  @apply flex overflow-auto;
  min-height: 4rem;

  &.vertical {
    @apply flex-col;
  }

  .digit-stepper-checkpoint {
    @apply relative flex-1;
    min-height: 4rem;
    z-index: 1;
  }

  .digit-stepper-content {
    @apply flex flex-col items-center;
    min-height: 4rem;
    gap: 0.5rem;

    span {
      @apply text-center;
      color: theme(digitv2.lightTheme.paper-primary);
    }

    .stepper-label {
      @extend .typography.body-s;
      @apply text-center;
      color: theme(digitv2.lightTheme.text-secondary);
      line-height: 1.5rem;
      letter-spacing: 0rem;
      height: 1.5rem;

      @media (max-width: 30rem) {
        line-height: 1.25rem;
      }

      &.completed {
        color: theme(digitv2.lightTheme.text-primary);
      }

      &.current {
        @extend .typography.heading-s;
        color: theme(digitv2.lightTheme.text-primary);
        line-height: 1.172rem;
      }
    }

    &.vertical {
      @apply flex-row;
    }
  }

  .stepper-circle {
    @apply flex text-center justify-center items-center font-regular;
    width: 2rem;
    height: 2rem;
    background-color: theme(digitv2.lightTheme.text-disabled);
    border-radius: 50%;
    margin-top: 0.25rem;


    @media (max-width: 30rem) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .active {
    @apply font-bold;
    background-color: theme(digitv2.lightTheme.primary-orange);
    border-color: theme(digitv2.lightTheme.primary-orange);
  }

  .stepper-connect {
    @apply absolute;
    top: 1.25rem;
    left: calc(50% + 0.5rem);
    right: calc(-50% + 0.5rem);
    border-top: 0.25rem solid theme(colors.border);
    z-index: -1;
    height: 0.25rem;

    @media (min-width: 30.063rem) and (max-width: 47.938rem) {
      /* Media query for tablets */
      min-width: 6.313rem;
      max-width: 39.438rem;
    }

    @media (max-width: 30rem) {
      /* Media query for mobile */
      min-width: 4.313rem;
      max-width: 16.875rem;
      top: 0.875rem;
    }

    @media (min-width: 48rem) {
      /* Media query for desktop */
      min-width: 5.313rem;
      max-width: 82.688rem;
    }

    &.active {
      background-color: theme(digitv2.lightTheme.primary-orange);
      border-color: theme(digitv2.lightTheme.primary-orange);
    }

    &.vertical {
      top: calc(50% + 0.5rem);
      bottom: calc(-50% + 0.5rem);
      left: -3rem;
      width: 0.25rem;
      height: auto;
      transform: rotate(90deg);

      &.active {
        background-color: transparent;
        border-color: theme(digitv2.lightTheme.primary-orange);
      }
    }
  }

  .digit-stepper-content:hover {
    .stepper-circle.active {
      outline: 0.25rem solid #F477381F;
    }

    .stepper-label{
      font-size: 1rem;
      line-height: 1.5rem;
      
      &.completed{
        @extend .typography.heading-s;
      }
    }
  }
}

.digit-stepper-container::-webkit-scrollbar {
  width: 0.5rem;
  height:0.5rem;
  background-color: theme(digitv2.lightTheme.generic-background);
}

.digit-stepper-container::-webkit-scrollbar-track {
  background-color: theme(digitv2.lightTheme.generic-background);
  border-radius: 0.563rem;
}

.digit-stepper-container::-webkit-scrollbar-thumb {
  background-color: theme(digitv2.lightTheme.generic-divider);
  border-radius: 0.563rem;
}