@import './theme-variables.css';
@import '../typography.scss';

.digit-text-block-wrap {

    @apply flex flex-col;

    @media (min-width: 48rem) {
        gap: var(--digitv2-spacers-spacer6);
    }

    @media (min-width: 30.063rem) and (max-width: 47.938rem) {
        gap: var(--digitv2-spacers-spacer5);
    }

    @media (max-width: 30rem) {
        gap: var(--digitv2-spacers-spacer4);
    }


    .digit-text-block-header-content {
        .digit-text-block-caption {
            @include typography-caption-s;
            padding-bottom: var(--digitv2-spacers-spacer1);
            color: var(--digitv2-lightTheme-text-secondary);
        }

        .digit-text-block-header {
            @include typography-heading-xl;
            padding-bottom: var(--digitv2-spacers-spacer2);
            color: var(--digitv2-lightTheme-text-primary);
            line-height: normal;
        
            @media (max-width: 30rem) {
                padding-bottom: var(--digitv2-spacers-spacer1);
            }
        }

        .digit-text-block-subheader {
            @include typography-heading-m;
            font-family: var(--digitv2-fontFamily-sans);
            font-style: var(--digitv2-fontStyle-normal);
            font-weight: var(--digitv2-fontWeight-bold);
            line-height: var(--digitv2-lineHeight-lineheight1);
        
            @media (max-aspect-ratio: 9/16) {
              /* Media query for mobile */
              font-size: var(--digitv2-fontSize-heading-m-mobile);
            }
        
            @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
              /* Media query for tablets */
              font-size: var(--digitv2-fontSize-heading-m-tablet);
            }
        
            @media (min-aspect-ratio: 3/4) {
              /* Media query for desktop */
              font-size: var(--digitv2-fontSize-heading-m-desktop);
            }
            color: var(--digitv2-lightTheme-text-secondary);
            line-height: normal;
        }
    }

    .digit-text-block-body {
        @include typography-body-s;
        font-family: var(--digitv2-fontFamily-sans);
        font-style: var(--digitv2-fontStyle-normal);
        font-weight: var(--digitv2-fontWeight-regular);
        line-height: var(--digitv2-lineHeight-lineheight2);
    
        @media (max-aspect-ratio: 9/16) {
          /* Media query for mobile */
          font-size: var( --digitv2-fontSize-body-s-mobile);
        }
    
        @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
          /* Media query for tablets */
          font-size: var( --digitv2-fontSize-body-s-tablet);
        }
    
        @media (min-aspect-ratio: 3/4) {
          /* Media query for desktop */
          font-size: var( --digitv2-fontSize-body-s-desktop);
        }
        color: var(--digitv2-lightTheme-generic-inputborder);
    }
}