.digit-toast-success {
  @apply fixed flex z-20 w-full max-w-full left-0 items-center;
  bottom: -3rem;
  gap: 0.5rem;
  height: 3rem;
  padding: 0.75rem 0.5rem 0.75rem 0.75rem !important;
  background-color: theme(digitv2.lightTheme.alert-success);
  transition: bottom 0.5s ease;

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    @apply w-auto max-w-full;
    min-width: 30rem;
    left:50%;
    transform: translate(-50%);
  }

  @media (max-aspect-ratio: 9/16) {
    @apply w-full;
  }

  @media (min-aspect-ratio: 3/4){
    @apply w-auto max-w-full;
    min-width: 50rem;
    left:50%;
    transform: translate(-50%);
  }

  &.digit-error {
    background-color: theme(digitv2.lightTheme.alert-error);
  }

  &.digit-warning {
    background-color: #F19100;

    &.digit-warning-buttons {
      @apply block;
    }
  }

  .toast-label {
    @extend .typography.caption-s;
    @apply text-left overflow-hidden whitespace-no-wrap flex-grow flex items-center h-6;
    letter-spacing: 0rem;
    color: theme(digitv2.lightTheme.paper-primary);
    margin: 0rem;
    text-overflow: ellipsis;
  }

  &.digit-info {
    background-color: theme(digitv2.alert.info-bg);

    .toast-label{
      color: theme(digitv2.lightTheme.text-primary);
    }
  }

  .digit-warning-button-container {
    @apply w-full flex justify-end;

    button {
      margin-left: 0.625rem;
    }
  }

  .digit-toast-sub-container {
    @apply flex;
  }

  svg {
    @apply flex-shrink-0;
  }
}

@keyframes slideInFromBottom {
  from {
    bottom: -3rem;
  }
  to {
    bottom: 4rem;
  }
}

.digit-toast-success.animate {
  animation: slideInFromBottom 0.5s ease forwards;
}