@import url("../index.scss");


.digit-toggle-toolbar {
  @apply flex justify-start w-full;
  max-width: 37.5rem;
  min-width: 7.5rem;
}


.toggle-option-container {
  @apply inline-flex items-center;
  gap: theme(digitv2.spacers.spacer2);
}

.digit-toggle-btn-wrap {
  @apply flex items-center justify-center cursor-pointer bg-white overflow-hidden text-center;
  padding: 0.125rem theme(digitv2.spacers.spacer0);
  width: 7rem;
  height: theme(digitv2.spacers.spacer8);
  border: 0.063rem solid theme(digitv2.lightTheme.generic-divider);
  text-overflow: ellipsis;

  .digit-toggle-label {
    @extend .typography.body-xs;
    @apply w-full overflow-hidden whitespace-no-wrap;
    color: theme(digitv2.lightTheme.text-disabled);
    text-overflow: ellipsis;
  }

  &:hover,
  &:active {
    border: 0.063rem solid theme(digitv2.lightTheme.primary-1);
    background: theme(digitv2.lightTheme.paper-primary);
    width: 7.125rem;
    color: theme(digitv2.lightTheme.primary-1);

    .digit-toggle-label {
      color: theme(digitv2.lightTheme.primary-1) !important;
    }
  }

  &:active {
    box-shadow: theme(digitv2.spacers.spacer0) theme(digitv2.spacers.spacer0) 0.375rem theme(digitv2.spacers.spacer0) #F4773840;
  }

  input:checked+.digit-toggle-label {
    @extend .typography.heading-s;
    background-color: theme(digitv2.lightTheme.primary-1);
    color: theme(digitv2.lightTheme.paper-primary) !important;
  }

  &.checked {
    background-color: theme(digitv2.lightTheme.primary-1);
    width: 7.125rem;
    border: 0.063rem solid theme(digitv2.lightTheme.primary-1);

    .digit-toggle-label {
      @extend .typography.heading-s;
      color: theme(digitv2.lightTheme.paper-primary);
    }
  }
}


.digit-toggle-input {
  @apply absolute opacity-0;
}

.digit-toggle-label {
  color: theme(digitv2.lightTheme.text-disabled);
  padding: theme(digitv2.spacers.spacer2) theme(digitv2.spacers.spacer3);
}