
.digit-global-search-results-table-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.digit-global-search-results-table{
  margin-bottom: 1.5rem;


  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4)  {
    /* Media query for tablets */
    min-width: 27.5rem;
  }

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    min-width: 100%;
    width: 100%;
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    min-width: 37.5rem;
  }
}

.rdt_TableRow {
    &.selectedRow {
        background-color: #FBEEE8 !important;
        border-bottom-color: theme(digitv2.lightTheme.generic-divider) !important;
    }
}

.rdt_TableCol_Sortable {
    display: flex;
    align-items: center;
    gap: theme(digitv2.spacers.spacer1);

    &:hover {
        opacity: 1 !important;
    }

    /* Target the first div directly inside .rdt_TableCol_Sortable */
    >div:first-child {
        white-space: normal;
    }

    .__rdt_custom_sort_icon__ {
        display: flex;
        align-items: center;
    }
}

.rdt_TableCol {
    border-radius: theme(digitv2.spacers.spacer0) !important;

    &:last-of-type {
        border-left: none !important;
    }
}

.rdt_TableCol {
    border-radius: theme(digitv2.spacers.spacer0) !important;

    &:last-of-type {
        border-left: none !important;
    }
}

.sc-fzXfNN.sc-fzXfNO.sc-fzXfNP.iSamCd.rdt_TableCell>div:first-of-type {
    width: 100%;
}

.rdt_TableHead {
    z-index: 13 !important;
}

.rdt_TableHeadRow {
    justify-content: space-between;
}

.rdt_TableRow {
    justify-content: space-between;
}

.digit-data-table::-webkit-scrollbar-track {
    background-color: theme(digitv2.lightTheme.generic-divider);
    border-radius: 0.563rem;
}

.digit-data-table::-webkit-scrollbar-thumb {
    background-color: theme(digitv2.lightTheme.generic-divider);
    border-radius: 0.563rem;
}

.digit-data-table::-webkit-scrollbar {
    width: theme(digitv2.spacers.spacer2);
    background-color: theme(digitv2.lightTheme.generic-divider);
}

.digit-data-table::-webkit-scrollbar:horizontal {
    height: theme(digitv2.spacers.spacer2);
    background-color: theme(digitv2.lightTheme.generic-divider);
}

.digit-data-table-select-checkbox {
    margin-bottom: theme(digitv2.spacers.spacer0);
}

.rdt_Pagination {
    margin-top: -1rem;
    border: 0.063rem solid #d6d5d4;
    border-top: theme(digitv2.spacers.spacer0);
}


.rdt_TableHeadRow {
    justify-content: space-between;
}

.rdt_TableRow {
    justify-content: space-between;
}

.digit-dataTable-actions-container{
    display: flex;
    gap:theme(digitv2.spacers.spacer2);
    align-items: center;
    flex-wrap: wrap;
}